.content-wrapper {
    height: 100%;
    margin: 0 auto;
}


h1 {
    font-weight: lighter;
}
.admin-panel-wrapper {
    margin: auto;
    max-width: 650px;
}

.admin-panel-wrapper .section {
    margin: 4em auto;
}

.admin-panel-wrapper div {
    position: relative;
}


.reload-data-wrapper div {
    margin: 1em;
}

.out-of-the-way {
    transform: translate(100vw);
}
.btn {
    max-width: 500px;
}
.btn.reboot-server {
    background-color: #f1e9d3;
}
.btn.reboot-server:hover {
    background-color: #ffa442;
}
