.message-form * {
    display: block;
    width: 400px;
    margin: 2em;
}
.message-form p {
    width: calc(100% - 4em);
}
.message-form .body {
    height: 5em;
}
.outbox .sent-message-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.outbox .timestamp {
    width: 10%;
}
.outbox .to {
    width: 40%;
}
.outbox .body {
    width: 50%;
}
