.queue-list-wrapper {
    width: 100%;
    overflow: auto;
}
.queue-list {
    width: 215px;
    font-size: 0.67em;
}
.queue-list .type-text {
    text-align: left;
}
.queue-list .type-number {
    text-align: right;
}

.edit-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 80px;
}
