.content-wrapper {
    padding: 2em 4em;
    width: 100%;
}

.section {
    background-color: #444;
    padding: 1em;
    margin: 1em 0;
    border-radius: 4px;
}
.section.message {
    color: inherit;
}
