
h1 {
    font-weight: lighter;
}
h2, h3 {
    font-weight: normal;
}

.file-import-wrapper input {
    float: right;
}

/* Widgets */
.widget {
    position: relative;
    min-width: 0;
}

/* Modals for editing  */
.modal {
    position: fixed;
    width: 500px;
    left: calc(50% - 250px);
    margin: 1em;
    padding: 1em;
    z-index: 1;
}
.modal h3 {
    margin-bottom: 0;
}
.modal > * {
    margin: 0.5em auto;
}
.modal .button-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 2em;
}
.modal button {
    color: #333;
    min-width: 25%;
    font-size: 1.25em;
}
.modal button:hover {
    background-color: #bbb;
}
.modal .delete:hover {
    background-color: hsl(14, 87%, 45%);
    color: white;
}

/***********************/
/* style dropdown menu */
/***********************/
.top-bar {
    width: 100%;
    height: 50px;
    display: flex;
    box-sizing: border-box;
}
.dropdown-button {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 25px;
    border: none;
    width: 50px;
    z-index: 100;
    box-sizing: border-box;
}
.insidedrop {
    padding: 0;
    font-size: 14px;
    text-align: left;
    min-width: 100px;
    max-width: 200px;
}
/* Helpful Links buttons are indented slightly more */
.insidedrop.helpful-link {
    padding-left: 3em;
}

/* dropdown content (hidden by default) */
.dropdown-content {
    position: absolute;
    top: 50px;
    z-index: 1;
}
.dropdown-content.submenu {
    display: inline-block;
    min-width: 200px;
    padding: 1em;
    left: 100%;
    top: 0;
}
.dropdown-content.submenu > * {
    margin: 2em 0;
}
.dropdown-content.submenu input[type="text"] {
    width: 100%;
}

/* buttons inside the dropdown */
.dropdown-content button {
    padding: 16px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
}
.dropdown-content a {
    text-decoration: none;
}

/* change color of dropdown links on hover */
.dropdown-content button:hover {
    cursor: pointer;
}
.top-bar .nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.top-bar .nav > * {
    padding: 0 2em;
}
.top-bar .user-greeting {
    display: inline-block;
}
.top-bar .logout {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}


/***********************/
/* Dashboard
/***********************/
.loading-screen {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    text-align: center;
    justify-content: center;
    background: hsla(0, 0%, 33%, 0.75);
}
.loading-screen h2 {
    margin: 33vh auto;
    z-index: 100000;
}
.scorecard-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
}
@media screen and (min-width: 900px) {
    .scorecard-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 1100px) {
    .scorecard-wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}

.scorecard-wrapper .metric-wrapper {
    min-width: 220px;
}

/* Control panel */
.control-panel {
    margin-bottom: 1em;
    background-color: hsl(345, 46%, 18%);
    border-radius: 2px;
}
.section.agent-selectors {
    padding: 1em;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(3, 1fr);
}
.section.agent-selectors .filters-header-wrapper {
    grid-column: 1;
    grid-row: 1;
    display: inline;
}
.section.agent-selectors .filters-header-wrapper h2 {
    display: inline;
    margin-right: 2em;
}
.section.agent-selectors .filters-header-wrapper button {
    background-color: transparent;
}
.section.agent-selectors .toggle-buttons {
    grid-column: 2 / 4;
    grid-row: 1;
    margin: 1em;
}
.section.agent-selectors .user-list select,
.section.agent-selectors .agentgroup-list select {
    width: 100%;
}
.section.agent-selectors .refresh-button-wrapper {
    display: flex;
}
.section.agent-selectors .refresh-button {
    height: 150px;
    width: 100%;
    font-size: 2em;
    align-self: center;
}
.section.agent-selectors .refresh-button:hover {
    background-color: hsl(345, 100%, 42%);
}

/*  Data table formatting  */
.data-table-wrapper {
    margin: 1em;
    max-height: 15em;
    overflow: auto;
    max-width: 100%;
    background: inherit;
}
.data-table {
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 0.8em;
    margin: auto;
}
.data-table thead tr {
    display: block;
    width: 100%;
    color: #333;
}
.data-table th {
    background-color: #efefef;
    font-weight: normal;
}
.data-table tr {
    width: 100%;
}
.data-table tr.highlight {
    background-color: hsl(200, 95%, 44%);
}
.data-table tr.highlight td {
    color: #fff;
}
.data-table td, .data-table th {
    padding: 0 0.5em;
    min-width: 7em;
}
.data-table td {
    border: 1px solid #ddd;
}
.data-table tbody {
    display: block;
    overflow: auto;
    width: 100%;
}

.drag-area {
    width: 100%;
    min-width: 100%;
}
