.content-wrapper {
    padding: 2em 4em;
    width: 100%;
}

.section {
    background-color: #444;
    border-radius: 4px;
    border-bottom: 1px solid black;
}
.section.message {
    color: inherit;
}

/* Table toggling "Header" buttons */
.table-button {
    margin: 0px;
    width: 100%;
    cursor: pointer;
    text-align: left;
    height: 100%;
    min-height: 50px;
    color: hsl(104, 100%, 67%);
    background-color: transparent;
}
.table-button:hover {
    background-color: hsla(210, 100%, 59%, 0.4);

}
.table-button h2 {
    margin: 0;
    font-size: 2em;
}


/* Small screens */
@media screen and (max-width: 600px) {
    .content-wrapper {
        padding: 0em;
    }
}
