html {
    background: linear-gradient(to right, hsl(32, 35%, 92%), hsl(144, 0%, 94%));
}

body {
    color: #333;
}

button {
    background-color: hsl(210, 100%, 84%);
}

.top-bar {
    border-top: 3px solid hsl(345, 100%, 51%);
}

.stats-box, .modal, .info-box, .top-bar, .control-panel {
    box-shadow: 0 1px 0 rgba(12,13,14,0.1),
                0 1px 3px rgba(12,13,14,0.1),
                0 4px 20px rgba(12,13,14,0.035),
                0 1px 1px rgba(12,13,14,0.025);
}

.stats-box {
    background-color: hsla(36, 100%, 98%, 0.92);
}
.dropdown-button, .insidedrop, .submenu, .top-bar {
    background-color: hsla(36, 84%, 97%, 1);
}
.insidedrop.helpful-link {
    background-color: hsla(35, 79%, 90%, 1);
}
.dropdown-button {
    border-right: 1px solid #ddd;
}
.dropdown-content {
    box-shadow: 1px 3px 3px rgba(12,13,14,0.2);
}
.dropdown-content button, .dropdown-content.submenu {
    border-top: 1px solid #ddd;
}
.dropdown-content button:hover {
    background-color: hsl(345, 100%, 80%);
}


svg text {
    fill: #222;
}
.modal, .info-box {
    background-color: hsla(0, 0%, 95%, 0.9);
}

.green {
    color: hsl(120, 100%, 37%);
}
.yellow {
    color: hsl(39, 100%, 43%);
}
.red {
    color: hsl(345, 83%, 52%);
}

.font-color-secondary {
    color: hsl(0, 0%, 74%);
}
