body {
    background: hsl(240, 6%, 9%);
}
body, body button  {
    color: #ddd;
}

.top-bar {
    border-top: 3px solid hsl(345, 100%, 47%);
}

.stats-box, .top-bar {
    box-shadow: 0 2px 5px rgba(44, 44, 44, 0.8),
                0 2px 5px rgba(0,0,0,0.7),
                0 2px 4px rgba(0,0,0,0.8);
}

.stats-box, .dropdown-button, .insidedrop, .top-bar {
    background-color: #2b2b2d;
}
.dropdown-button {
    border-right: 1px solid #333;
}
.dropdown-content {
    box-shadow: 1px 3px 3px rgba(0,0,0, 0.6);
}
.dropdown-content button {
    border-top: 1px solid #333;
}
.dropdown-content button:hover {
    background-color: hsl(345, 100%, 42%);
}

svg text {
    fill: #ddd;
}
.modal, .info-box {
    background-color: rgba(100,100,100,0.95);
}

.green {
    color: hsl(120, 100%, 47%);
}
.red {
    color: hsl(345, 100%, 65%);
}

