body, html {
    background: hsl(240, 6%, 9%);
}
body, body button  {
    color: #f9f9f9;
}
button {
    background-color: hsl(210, 100%, 67%);
}

.top-bar {
    border-top: 3px solid hsl(345, 100%, 47%);
}

.stats-box, .top-bar, .control-panel {
    box-shadow: 0 2px 5px rgba(23, 23, 23, 0.8),
                0 2px 5px rgba(0,0,0,0.7),
                0 2px 4px rgba(0,0,0,0.8),
                0 5px 10px 5px rgba(0, 0, 0, 0.17);
}

.stats-box, .control-panel {
    background-color: hsla(240, 2%, 22%, 0.89);
}
.dropdown-button, .insidedrop, .submenu, .top-bar {
    background-color: hsl(210, 1%, 21%);
}
.insidedrop.helpful-link {
    background-color: hsl(211, 23%, 15%);
}
.dropdown-button {
    border-right: 1px solid #333;
}
.dropdown-content {
    box-shadow: 1px 3px 3px rgba(0,0,0, 0.6);
}
.dropdown-content button, .dropdown-content.submenu {
    border-top: 1px solid #333;
}
.dropdown-content button:hover {
    background-color: hsl(345, 100%, 42%);
}

svg text {
    fill: #ddd;
}
.modal, .info-box {
    background-color: rgba(100,100,100,0.95);
}

.green {
    color: hsl(120, 100%, 52%);
}
.yellow {
    color: hsl(61, 100%, 70%);
}
.red {
    color: hsl(345, 100%, 75%);
}
.light-grey {
    color: #aaa;
}

.font-color-secondary {
    color: hsl(0, 0%, 67%);
}
