html {
    background: hsl(240, 6%, 9%);
}
body, body button  {
    color: #ddd;
}
button {
    background-color: #777;
}

.top-bar {
    border-top: 3px solid hsl(345, 100%, 47%);
}

.stats-box, .top-bar {
    box-shadow: 0 2px 5px rgba(44, 44, 44, 0.8),
                0 2px 5px rgba(0,0,0,0.7),
                0 2px 4px rgba(0,0,0,0.8);
}

.stats-box {
    background-color: hsla(240, 2%, 22%, 0.89);
}
.dropdown-button, .insidedrop, .submenu, .top-bar {
    background-color: hsl(210, 1%, 21%);
}
.insidedrop.helpful-link {
    background-color: hsl(211, 23%, 15%);
}
.dropdown-button {
    border-right: 1px solid #333;
}
.dropdown-content {
    box-shadow: 1px 3px 3px rgba(0,0,0, 0.6);
}
.dropdown-content button, .dropdown-content.submenu {
    border-top: 1px solid #333;
}
.dropdown-content button:hover {
    background-color: hsl(345, 100%, 42%);
}

svg text {
    fill: #ddd;
}
.modal, .info-box {
    background-color: rgba(100,100,100,0.95);
}

.green {
    color: hsl(120, 100%, 47%);
}
.yellow {
    color: hsl(61, 100%, 67%);
}
.red {
    color: hsl(345, 97%, 72%);
}
