<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Admin Dashboard</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="icon" type="image/x-icon" href="favicon.ico" />

        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link href="styles/base.css" rel="stylesheet" type="text/css">
        <link href="styles/modal.css" rel="stylesheet" type="text/css">
        <link href="styles/admin.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="admin-app" class="content-wrapper">
            <div class="admin-panel-wrapper">
                <div class="stats-box uber-wrapper">
                    <h1>Admin Panel</h1>
                    <!-- Status message -->
                    <p id="message" class="message">
                        Welcome to the Administrator's panel.
                    </p>
                    <div class="section reload-data-wrapper">
                        <h3>Reload report data</h3>
                        <p>
                            Refresh the database's service level and zipcode data.
                        </p>
                        <div>
                            <input type="text" class="filter start-time" placeholder="YYYY-MM-DDTHH:mm:ss" value="2017-10-16T00:00:00" />
                            <input type="text" class="filter end-time" placeholder="YYYY-MM-DDTHH:mm:ss" value="2017-10-16T23:59:59" />
                        </div>
                        <button class="btn reload-data">Reload Data</button>
                    </div>

                    <div class="section reboot">
                        <h3>Reboot the Website</h3>
                        <p>Didn't that email say not to reboot the website? Oh well, maybe it'll fix something.</p>
                        <button class="btn reboot-server">Boom</button>
                    </div>

                    <div class="section sup-list">
                        <h3>Supervisor Users</h3>
                        <p>
                            These users can view data for all agents.
                        </p>
                        <editor-table
                            :loader=supervisorLoader
                            :updater=supervisorUpdater
                            :adder=supervisorAdder
                            :headers="['Username', 'Is Supervisor?']"
                            @message="updateMessage"
                        >
                            <template slot="item" slot-scope="props">
                                <td>
                                    <input v-model="props.item.username" />
                                </td>
                                <td>
                                    <select v-model="props.item.isSupervisor">
                                        <option value="false">False</option>
                                        <option value="true">True</option>
                                    </select>
                                </td>
                            </template>
                        </editor-table>
                    </div>

                    <div class="section admin-list">
                        <h3>Admin Users</h3>
                        <p>
                            Users listed here can make all the changes you can.
                        </p>
                        <editor-table
                            :loader=adminLoader
                            :updater=adminUpdater
                            :adder=adminAdder
                            :headers="['Username', 'Is Admin?']"
                            @message="updateMessage"
                        >
                            <template slot="item" slot-scope="props">
                                <td>
                                    <input v-model="props.item.username" />
                                </td>
                                <td>
                                    <select v-model="props.item.isAdmin">
                                        <option value="false">False</option>
                                        <option value="true">True</option>
                                    </select>
                                </td>
                            </template>
                        </editor-table>
                    </div>

                    <div class="section downloads">
                        <h3>Logbook</h3>
                        <input v-model="logCategory" />
                        <button @click="downloadLog(logCategory)">Download Logs</button>
                    </div>
                    <form onsubmit="download(this['name'].value, this['text'].value)">
                        <input type="text" name="name" value="test.txt">
                        <textarea name="text"></textarea>
                        <input type="submit" value="Download">
                    </form>

                </div>  <!-- /admin-panel-wrapper -->
            </div>
        </div>
    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="javascript/moment.min.js" type="text/javascript"></script>

    <script src="assets/admin.js" type="text/javascript"></script>
</html>
