<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Scorecard Admin</title>
        <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link href="./styles/scorebase.css" rel="stylesheet" type="text/css">
        <link href="./styles/scoredetail.css" rel="stylesheet" type="text/css">
        <link href="./styles/scorecard-admin.css" rel="stylesheet" type="text/css">
    </head>

    <body>

    <div id="admin-app" class="content-wrapper">
        <h1>Admin</h1>
        <div class="section message"
            v-show="message"
        >
            {{ message }}
        </div>

        <div class="section fields">
            <h2>Fields</h2>
            <editor-table
                @message="updateMessage"
                :updater="fieldUpdater"
                :loader="fieldLoader"
                :adder="fieldAdder"
                :headers="['Name', 'Display Name', 'Calculated Field', 'Default Refresh Rate (sec)', 'Type', 'Format', 'Calculation', 'Data Source']"
            >
                <template slot="item" slot-scope="props">
                    <td>
                        <input v-if="props.item.calculatedField"
                            v-model="props.item.name"
                            type="text"
                        />
                        <p v-else>{{ props.item.name }}</p>
                    </td>

                    <td>
                        <input
                            v-model="props.item.displayName"
                            type="text"
                        />
                    </td>

                    <td>
                        <p>{{ props.item.calculatedField }}</p>
                    </td>
                    <td>
                        <input v-model="props.item.defaultRefreshRate"
                            type="number"
                        />
                    </td>
                    <td>
                        <input v-model="props.item.format.type"
                            type="text"
                        />
                    </td>
                    <td>
                        <input v-model="props.item.format.string"
                            type="text"
                        />
                    </td>

                    <td>
                        <textarea v-if="props.item.calculatedField"
                            v-model="props.item.calculation"
                            type="text"
                        ></textarea>
                        <p v-else>N/A</p>
                    </td>

                    <td>
                        <p>{{ props.item.source }}</p>
                    </td>
                </template>
            </editor-table>
        </div>
    </div>
    </body>


    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vuex"></script>
    <script src="./assets/scorecard-admin.js" type="text/javascript"></script>
</html>
