<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Scorecard Admin</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="icon" type="image/x-icon" href="favicon.ico" />

        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link href="./styles/scorebase.css" rel="stylesheet" type="text/css">
        <link href="./styles/scoredetail.css" rel="stylesheet" type="text/css">
        <link href="./styles/scorecard-admin.css" rel="stylesheet" type="text/css">
        <link href="./styles/theme-dark.css" rel="stylesheet" type="text/css" id="theme_css">
    </head>

    <body>

    <div id="admin-app" class="content-wrapper">
        <h1>Admin</h1>
        <div class="section message"
            v-show="message"
        >
            {{ message }}
        </div>

        <!-- Layouts -->
        <div class="section layouts">
            <h2>Layouts</h2>
            <p>Set layouts for various agent groups. One layout should be titled "<em>Main</em>" -- this will be the default for any agent groups who don't have their own layout.</p>
            <editor-table
                @message="updateMessage"
                :updater="layoutUpdater"
                :loader="layoutLoader"
                :adder="layoutAdder"
                :remover="layoutRemover"
                :headers="['Name', 'Type', 'Default for Agent Groups', 'Optional for Agent Groups', 'Cards', 'Datasources', 'Sort Order', 'Columns']"
            >
                <template slot="item" slot-scope="props">
                    <td>
                        <input
                            v-model="props.item.name"
                            type="text"
                        />
                    </td>
                    <td>
                            <select v-model="props.item.layoutType">
                            <option value="individual">Individual</option>
                            <option value="team">Team</option>
                        </select>
                    </td>
                    <td>
                        <textarea
                            v-model="props.item.defaultForAgentGroups"
                            type="text"
                        ></textarea>
                    </td>
                    <td>
                        <textarea
                            v-model="props.item.optionalForAgentGroups"
                            type="text"
                        ></textarea>
                    </td>
                    <td>
                        <textarea
                            v-model="props.item.cards"
                            type="text"
                        ></textarea>
                    </td>
                    <td>
                        <textarea
                            v-model="props.item.datasources"
                            type="text"
                        ></textarea>
                    </td>
                    <td>
                        <input
                            v-model="props.item.sortOrder"
                            type="number"
                        />
                    </td>
                    <td>
                        <input
                            v-model="props.item.columns"
                            type="number"
                        />
                    </td>
                </template>
            </editor-table>
        </div>

        <!-- Goals -->
        <div class="section goals">
            <h2>Goals</h2>
            <editor-table
                @message="updateMessage"
                :updater="goalUpdater"
                :loader="goalLoader"
                :adder="goalAdder"
                :remover="goalRemover"
                :headers="['Name', 'Agent Groups', 'Comparator', 'Thresholds', 'Field']"
            >
                <template slot="item" slot-scope="props">
                    <td>
                        <input
                            v-model="props.item.name"
                            type="text"
                        />
                    </td>
                    <td>
                        <textarea
                            v-model="props.item.agentGroups"
                            type="text"
                        ></textarea>
                    </td>
                    <td>
                        <input
                            v-model="props.item.comparator"
                            type="text"
                        />
                    </td>
                    <td>
                        <textarea
                            v-model="props.item.thresholds"
                            type="text"
                        ></textarea>
                    </td>
                    <td>
                        <textarea
                            v-model="props.item.field"
                            type="text"
                        ></textarea>
                    </td>

                </template>
            </editor-table>
        </div>

        <!-- Links -->
        <div class="section links">
            <h2>Helpful Links</h2>
            <editor-table
                @message="updateMessage"
                :updater="linkUpdater"
                :loader="linkLoader"
                :adder="linkAdder"
                :remover="linkRemover"
                :headers="['Name', 'URL', 'Agent Groups']"
            >
                <template slot="item" slot-scope="props">
                    <td>
                        <input
                            v-model="props.item.name"
                            type="text"
                        />
                    </td>
                    <td>
                        <input
                            v-model="props.item.url"
                            type="text"
                        />
                    </td>
                    <td>
                        <textarea
                        v-model="props.item.agentGroups"
                        type="text"
                        ></textarea>
                    </td>
                </template>
            </editor-table>
        </div>

        <!-- Fields -->
        <div class="section fields">
            <h2>Fields</h2>
            <editor-table
                @message="updateMessage"
                :updater="fieldUpdater"
                :loader="fieldLoader"
                :adder="fieldAdder"
                :remover="fieldRemover"
                :headers="['Name', 'Display Name', 'Default Refresh Rate (sec)', 'Type', 'Format', 'Calculated Field', 'Calculation', 'Data Source']"
            >
                <template slot="item" slot-scope="props">
                    <td>
                        <input v-if="props.item.calculatedField"
                            v-model="props.item.name"
                            type="text"
                        />
                        <p v-else>{{ props.item.name }}</p>
                    </td>
                    <td>
                        <input
                            v-model="props.item.displayName"
                            type="text"
                        />
                    </td>
                    <td>
                        <input v-model="props.item.defaultRefreshRate"
                            type="number"
                        />
                    </td>
                    <td>
                        <input v-model="props.item.format.type"
                            type="text"
                        />
                    </td>
                    <td>
                        <input v-model="props.item.format.string"
                            type="text"
                        />
                    </td>
                    <td>
                        <select v-model="props.item.calculatedField">
                            <option :value="true">True</option>
                            <option :value="false">False</option>
                        </select>
                    </td>
                    <td>
                        <textarea v-if="props.item.calculatedField"
                            v-model="props.item.calculation"
                            type="text"
                        ></textarea>
                        <p v-else>N/A</p>
                    </td>
                    <td>
                        <input v-model="props.item.source"
                            type="text"/>
                    </td>
                </template>
            </editor-table>
        </div>
    </div>
    </body>

    <script src="./assets/scorecard-admin.js" type="text/javascript"></script>
</html>
