<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Dashboard</title>
        <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link href="styles/scorebase.css" rel="stylesheet" type="text/css">
        <link href="styles/scoredetail.css" rel="stylesheet" type="text/css">
        <!-- Default to dark theme -->
        <link href="styles/scorecard-theme-dark.css" rel="stylesheet" type="text/css" id="theme_css">
    </head>

    <body>

    <div id="app" class="content-wrapper">
        <button
            v-if="$store.state.editMode"
            style="width:100%; color:black;"
            @click="refresh"
        >Refresh Data</button>

        <div class="dropdown">
            <button class="dropdown-button">&#9776;</button>
            <div class="dropdown-content">
                <button class="insidedrop"
                    @click="changeTheme(otherTheme)">
                    Switch to {{ otherTheme }} theme
                </button>

                <button
                    class="insidedrop"
                    @click="$store.commit('toggleEditMode')"
                    id="toggle-edit-mode">
                    Edit Mode
                </button>

                <button class="insidedrop"
                    v-if="$store.state.editMode"
                    @click="clickImport"
                    id="import-layout">
                    Import
                </button>

                <button class="insidedrop"
                    v-if="$store.state.editMode"
                    @click="exportLayout"
                    id="export-layout">
                    Export
                </button>

                <button class="insidedrop"
                    v-if="$store.state.editMode"
                    @click="addCard"
                    id="export-layout">
                    Add Card
                </button>
            </div>
        </div>

        <input type="file" id="file-input"
            v-if="$store.state.editMode"
            v-show="false"
            @change="importLayout"
            ref="fileInput" />

        <div class="loading-screen"
            v-if="!isLoaded"
        ><h2>Dashboard Loading...</h2></div>

        <dashboard
            v-if="isLoaded"
            :layout="layout"
            @update-layout="updateLayout"
            @update-card="updateCard"
            @modify-widget="modifyWidget"
            @delete-card="deleteCard"
        ></dashboard>

        <input v-if="$store.state.editMode"
            v-model="user"
            placeholder="Emulate user"
        />

        <div v-if="$store.state.editMode">
            <h2>Data Sources</h2>
            <p>{{ datasourceMessage }}</p>
            <editor-table
                @message="updateDatasourceMessage"
                :updater="datasourceUpdater"
                :loader="datasourceLoader"
                :adder="datasourceAdder"
                :remover="datasourceRemover"
                :headers="['Name', 'Field Names', 'Filters', 'Group By', 'Refresh Rate (seconds)', 'Source']"
            >
                <template slot="item" slot-scope="props">
                    <td>
                        <input
                            v-model="props.item.name"
                            type="text"/>
                    </td>
                    <td>
                        <textarea
                            v-model="props.item.fields"
                            type="text"
                        ></textarea>
                    </td>
                    <td>
                        <textarea
                            v-model="props.item.filter"
                            type="text"
                        ></textarea>
                    </td>
                    <td>
                        <textarea
                            v-model="props.item.groupBy"
                            type="text"
                        ></textarea>
                    </td>
                    <td>
                        <input
                            v-model="props.item.refreshRate"
                            type="number"
                        ></textarea>
                    </td>
                    <td>
                        <input
                            v-model="props.item.source"
                            type="text"/>
                    </td>
                </template>

            </editor-table>
        </div>
    </div>
    </body>


    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vuex"></script>
    <script src="./javascript/moment.min.js" type="text/javascript"></script>
    <script src="./javascript/gauge.js" type="text/javascript"></script>
    <script src="./assets/scorecard.js" type="text/javascript"></script>
</html>
