<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Dashboard</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="icon" type="image/x-icon" href="favicon.ico" />

        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link href="styles/scorebase.css" rel="stylesheet" type="text/css">
        <link href="styles/scoredetail.css" rel="stylesheet" type="text/css">
        <!-- Default to dark theme -->
        <link href="styles/theme-dark.css" rel="stylesheet" type="text/css" id="theme_css">

        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    </head>

    <body>
    <div id="app" class="body-wrapper">
        <!-- Top bar and drop-down menu -->
        <header class="top-bar">
            <button class="dropdown-button" @mouseover="showMenu=true"
                @mouseleave="mouseleaveMenu"
                ref="menuButton"
            >&#9776;
            </button>
            <div v-if="showMenu" class="dropdown-content"
                @mouseleave="mouseleaveMenu" ref="menu" v-cloak
            >
                <button class="insidedrop"
                    v-if="$store.state.editMode"
                    @click="refresh">
                    <i class="fas fa-sync-alt"></i> Refresh
                </button>

                <button class="insidedrop submenu-button"
                    @mouseover="showMenuThemes=true"
                    @mouseleave="mouseleaveThemeSubMenu"
                ><i class="fas fa-image"></i> Theme</button>
                <div class="dropdown-content submenu"
                    @mouseleave="mouseleaveThemeSubMenu"
                    v-if="showMenuThemes"
                    ref="themeSubMenu">
                    <div class="toggle-buttons">
                        <button @click="changeTheme('color', 'dark')"
                            :class="{ checked: theme.color=='dark' }">
                            Dark
                        </button>
                        <button @click="changeTheme('color', 'light')"
                            :class="{ checked: theme.color=='light' }">
                            Light
                        </button>
                    </div>

                    <input type="checkbox" id="useBackgroundImage"
                        v-model="theme.useBackgroundImage"/>
                    <label for="useBackgroundImage">Use Background Image</label>

                    <div v-if="theme.color == 'dark'">
                        <label for="darkBackgroundImageUrl">
                            Dark Background URL
                        </label>
                        <input type="text" id="darkBackgroundImageUrl"
                            v-model="theme.darkBackgroundImageUrl"/>
                    </div>
                    <div v-if="theme.color == 'light'">
                        <label for="lightBackgroundImageUrl">
                            Light Background URL
                        </label>
                        <input type="text" id="lightBackgroundImageUrl"
                            v-model="theme.lightBackgroundImageUrl"/>
                    </div>

                    <button @click="saveTheme">Save Theme</button>
                </div>

                <button
                    class="insidedrop"
                    @click="$store.commit('toggleEditMode')"
                    id="toggle-edit-mode"
                    v-if="user.isAdmin">
                    <i class="fas fa-cogs"></i> Edit Mode
                </button>

                <button class="insidedrop"
                    v-if="$store.state.editMode"
                    @click="clickImport"
                    id="import-layout">
                    Import
                </button>

                <button class="insidedrop"
                    v-if="$store.state.editMode"
                    @click="exportLayout"
                    id="export-layout">
                    Export
                </button>

                <button class="insidedrop"
                    v-if="$store.state.editMode"
                    @click="addCard"
                    id="export-layout">
                    <i class="far fa-plus-square"></i> Add Card
                </button>

                <button class="insidedrop"
                    @click="showLinks = !showLinks">
                    <i class="fas fa-globe"></i> Helpful Links
                </button>
                <a v-if="showLinks"
                    v-for="(link, i) in $store.state.links"
                    :key="i"
                    :href="link.url"
                    target="_blank">
                    <button class="insidedrop helpful-link">{{ link.name }}</button>
                </a>

                <a target="_blank" href="https://nathanclonts.com/dashboard/queues">
                    <button class="insidedrop queues-button">
                        <i class="fas fa-list"></i> Queues
                    </button>
                </a>

                <a target="_blank" href="https://nathanclonts.com/dashboard/maps">
                    <button class="insidedrop map-button">
                        <i class="fas fa-map"></i> Map
                    </button>
                </a>

                <a target="_blank" href="https://jabbroadband.sharepoint.com/sites/Corporate/ContactCenterOperations/Lists/Dashboard Feedback/overview.aspx">
                    <button class="insidedrop feedback-button">
                        <i class="fas fa-comment"></i> Feedback
                    </button>
                </a>

                <button v-if="user.isSupervisor || user.isAdmin"
                        class="insidedrop supervisor-mode-button"
                        @click="supervisorMode">
                    <i class="fas fa-users"></i> Supervisor
                </button>

            </div>

            <div class="nav">
                <div class="user-greeting">
                    <p>
                        {{ userGreeting }}
                    </p>
                </div>
                <div class="logout">
                    <a href="/dashboard/logout">Logout</a>
                </div>
            </div>
        </header>

        <!-- Message banner -->
        <div class="message-wrapper" v-if="messages.length > 0">
            <template v-for="(message, i) in messages">
                <div class="icon-wrapper">
                    <i class="far fa-smile message-icon" ></i>
                    <div class="background-words">
                        <p>New</p>
                        <p>Message</p>
                    </div>
                </div>
                <p class="message-text">
                    {{ message.subject || message.body }}
                </p>
                <p class="message-from">
                    From: {{ message.from }}
                </p>
                <button @click="closeMessage(message)"
                    title="Close message" class="message-close"
                    ><i class="fas fa-times"></i>
                </button>
            </template>
        </div>


        <!-- Main content -->
        <div class="content-wrapper"
            :style="backgroundStyles">
            <div class="loading-screen"
                v-if="!isLoaded">
                <h2>Dashboard Loading...
                    <br /><br />
                    <i class="fas fa-circle-notch fa-pulse" style="font-size:2em;"></i>
                </h2>
            </div>

            <!-- Controls for sups/admins over team filters and datasources -->
            <div class="control-panel" v-if="user.isSupervisor || user.isAdmin">
                <div>
                    <div class="filters-header-wrapper">
                        <h2>Filters</h2>
                        <button @click="showFilters = !showFilters"
                            title="Toggle filter display"
                        >{{ showFilters ? 'Hide' : 'Show' }}</button>
                    </div>
                    <div class="toggle-buttons" v-show="showFilters">
                        <button @click="changeSupMode('team')"
                            :class="{ checked: $store.state.supMode == 'team' }"
                            title="Show data for all agents selected"
                        >Team
                        </button>
                        <button @click="changeSupMode('individual')"
                            :class="{ checked: $store.state.supMode == 'individual' }"
                            title="Simulate the view of a single agent"
                        >Individual
                        </button>
                    </div>
                    <users-selector v-show="showFilters"
                        @select-users="selectUsers"
                        @refresh="refresh"
                    ></users-selector>
                </div>
                <!-- <div v-if="userList.length > 0" class="section agent-selectors">
                    <div class="filters-header-wrapper">
                        <h2>Filters</h2>
                        <button @click="showFilters = !showFilters"
                            title="Toggle filter display"
                        >{{ showFilters ? 'Hide' : 'Show' }}</button>
                    </div>
                    <div class="agentgroup-list" v-show="showFilters">
                        <select multiple size="30" v-model="selectedAgentGroups"
                                @change="selectAgentGroups(selectedAgentGroups)">
                            <option v-for="(agentGroup, i) in agentGroups"
                                :value="agentGroup">
                                {{ agentGroup }}
                            </option>
                        </select>
                    </div>
                    <div class="user-list" v-show="showFilters">
                        <select multiple size="30" v-model="selectedUsernames"
                            @change="selectUsers(selectedUsernames)">
                            <option v-for="(userAgent, i) in filterUsersInGroup(userList)"
                                :value="userAgent.username">
                                {{ getUserSelectionString(userAgent) }}
                            </option>
                        </select>
                    </div>

                    <div class="toggle-buttons" v-show="showFilters">
                        <button @click="changeSupMode('team')"
                            :class="{ checked: $store.state.supMode == 'team' }"
                            title="Show data for all agents selected"
                        >Team
                        </button>
                        <button @click="changeSupMode('individual')"
                            :class="{ checked: $store.state.supMode == 'individual' }"
                            title="Simulate the view of a single agent"
                        >Individual
                        </button>
                    </div>

                    <div class="refresh-button-wrapper" v-show="showFilters">
                        <button class="refresh-button" @click="refresh">
                            <i class="fas fa-sync-alt"></i> Refresh
                        </button>
                    </div>
                </div> -->

                <div v-if="$store.state.editMode">
                    <h2>Data Sources</h2>
                    <p>{{ datasourceMessage }}</p>
                    <editor-table
                        @message="updateDatasourceMessage"
                        :updater="datasourceUpdater"
                        :loader="datasourceLoader"
                        :adder="datasourceAdder"
                        :remover="datasourceRemover"
                        :headers="['Name', 'Field Names', 'Filters', 'Group By', 'Refresh Rate (seconds)', 'Source']"
                    >
                        <template slot="item" slot-scope="props">
                            <td>
                                <input
                                    v-model="props.item.name"
                                    type="text"/>
                            </td>
                            <td>
                                <textarea
                                    v-model="props.item.fields"
                                    type="text"
                                ></textarea>
                            </td>
                            <td>
                                <textarea
                                    v-model="props.item.filter"
                                    type="text"
                                ></textarea>
                            </td>
                            <td>
                                <textarea
                                    v-model="props.item.groupBy"
                                    type="text"
                                ></textarea>
                            </td>
                            <td>
                                <input
                                    v-model="props.item.refreshRate"
                                    type="number"
                                ></textarea>
                            </td>
                            <td>
                                <input
                                    v-model="props.item.source"
                                    type="text"/>
                            </td>
                        </template>

                    </editor-table>
                </div>
            </div>

            <!-- The Dashboard itself  -->
            <dashboard
                v-if="isLoaded"
                :layout="layout"
                @update-layout="updateLayout"
                @update-card="updateCard"
                @modify-widget="modifyWidget"
                @delete-card="deleteCard"
            ></dashboard>

        </div>
    </div>

    </body>


    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="./javascript/moment.min.js" type="text/javascript"></script>
    <script src="./assets/scorecard.js" type="text/javascript"></script>
</html>
