<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Uploader</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="icon" type="image/x-icon" href="favicon.ico" />

        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link href="./styles/scorebase.css" rel="stylesheet" type="text/css">
        <link href="./styles/scoredetail.css" rel="stylesheet" type="text/css">
        <link href="./styles/scorecard-admin.css" rel="stylesheet" type="text/css">
        <link href="./styles/theme-dark.css" rel="stylesheet" type="text/css" id="theme_css">
    </head>

    <body>

    <div id="upload-app" class="content-wrapper">
        <h1>Dashboard Uploader</h1>
        <div class="section message"
            v-show="message"
        >
            {{ message }}
        </div>

        <div class="section data-upload">
            <h3>Upload new data</h3>
            <input v-model="selectedDatasourceName" placeholder="Custom datasource name" />
            <select v-model="updateType">
                <option value="addTo">
                    Add to data
                </option>
                <option value="overwrite">
                    Overwrite all existing data
                </option>
            </select>
            <input type="file" accept=".csv" name="Data Upload"
                ref="fileInput"
                @change="uploadFile"
            />
            <div>Any Date fields should be in the format YYYY-MM-DD.</div>
            <br />
            <hr />

            <h4>Clear Data</h4>
            <p>Remove existing data in a date range.</p>
            <div>
                <input v-model="clearDatasourceName" placeholder="Datasource to delete" type="text" />
                <label for="clear-start-date">Start Date</label>
                <input v-model="clearStartDate" type="date" id="clear-start-date" />
                <label for="clear-stop-date">Stop Date (inclusive)</label>
                <input v-model="clearStopDate" type="date" id="clear-stop-date" />
            </div>
            <button title="Delete data for selected dates"
                @click="clearData"
            >Delete
            </button>
        </div>

        <div class="section custom-sources">
            <h3>Custom Data Sources</h3>
            <editor-table
                :loader=datasourceLoader
                :updater=datasourceUpdater
                :adder=datasourceAdder
                :headers="['Name', 'Last Updated', 'Fields', 'Default Update Type',
                           'From Looker?', 'Look ID', 'Looker Field Lookup']"
                @message="updateMessage"
            >
                <template slot="item" slot-scope="props">
                    <td>
                        <input v-model="props.item.name" />
                    </td>

                    <td>
                        {{ formatDateTime(props.item.lastUpdated) }}
                    </td>

                    <td>
                        <textarea v-model="props.item.fields"></textarea>
                    </td>

                    <td>
                        <select v-model="props.item.defaultUpdateType">
                            <option value="addTo">
                                Add to data
                            </option>
                            <option value="overwrite">
                                Overwrite data
                            </option>
                        </select>
                    </td>

                    <td>
                        <select v-model="props.item.fromLooker">
                            <option value="true">
                                True
                            </option>
                            <option value="false">
                                False
                            </option>
                        </select>
                    </td>

                    <td>
                        <input v-model="props.item.lookerLookId" />
                    </td>

                    <td>
                        <textarea v-model="props.item.lookerFieldLookup"></textarea>
                    </td>
                </template>
            </editor-table>
        </div>

        <div class="section skill-group">
            <h3>Upload new Skill Group mapping</h3>
                <input type="file" accept=".csv" name="Skill Group File Upload"
                    ref="fileInput"
                    @change="uploadSkillGroupFile"
                />
        </div>

        <div class="section looker-pull">
            <h3>Test Looker API</h3>
            <input v-model="lookerTestId" placeholder="Looker Look ID" />
            <button @click="pullLookerData(lookerTestId)">Pull Data</button>
            <div>
                <textarea v-model="lookerTestDataString"></textarea>
            </div>
        </div>
    </div>
    </body>

    <script src="./javascript/moment.min.js" type="text/javascript"></script>
    <script src="javascript/moment-timezone-with-data.min.js" type="text/javascript"></script>
    <script src="./assets/upload.js" type="text/javascript"></script>
</html>
